{% extends 'base.jinja'%}

{% block content %}
<h2> <b> <u> <em></em>City List </em> </u> </b> </h2>

    <div class="city"></div>
    {%for city in cities%}

    <h4>{{ city.name}} </h4> 

    {%endfor%}

    {% endblock %}