{% extends 'base.jinja'%}

{% block content %}

<div class="addbrewery"> 
<form action="/breweries" method="post">
    <div>
        <input type="text" id="breweries" name="name" placeholder="Add New Brewery" required autofocus>
    </div>

    <div>
        {# <label for="name">Name:</label> #}
        {# <input type="text" id="City" name="city" placeholder="City" required autofocus> #}
        <select name="city">
            {% for city in cities %}
            <option value="{{city.id}}">{{city.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        {# <input type="datalist" id="visited" name="visited" placeholder="Visited" required> #}
        <select name="visited">
            <option value=True> Yes </option>
            <option value=False> No </option>
        </select>
    </div>

    <button type="submit">Add Brewery</button>
</form>

</div>
<div class="brewerylist"><h2> <b> <u> <em></em>Brewery List </em> </u> </b> </h2> </div>

<div class="brewery"></div>
{%for brewery in breweries%}
<h4>{{ brewery.name }}</h4>
<p>Location: {{ brewery.city.name }}</p>
{# <p> temp - {{brewery.id}}</p> #}
{% if brewery.visited is true%}
<p>You have visited this brewery</p>
{% else %}
<p>You have not visited this brewery</p>
{% endif %}
<img src="/static/images/moonwake.jpg" alt="moonwake" class = "moonwake">
<form action="/breweries/{{brewery.id}}/delete" method="post">
    <input type="submit" value="Delete Brewery" />
</form>
<form action="/breweries/{{ brewery.id }}" method="post">
<div> 
    <input type="hidden" name="brewery_id" value="{{ brewery.id }}">
    {% if brewery.visited %}
    <input type="hidden" name="visited" value="False">
    <input type="submit" value="Mark as not visited">
    {% else %}
    <input type="hidden" name="visited" value="True">
    <input type="submit" value="Mark as visited">
    {% endif %}
</form>
</div>

{%endfor%}

{% endblock %}

