{% extends 'base.jinja'%}

{% block content %}

{# <h2> <b> <u> <em></em>Brewery Bucket List </em> </u> </b> </h2> #}


<body>
    <div class="title"> 
        <h1>Welcome to My Brewery journey!</h1>
    </div>

    <div> 
        <p>  <b> Here you will find a list of breweries I have visited, and the ones that are still on my bucket list. </b>  </p>
   
    </div>
  <p>Just one man, aiming to conquer all of the worlds finest breweries!! I have travelled alot, and while on my travels i decided to create this list to help me keep track of what breweries I have visited. From Edinburgh to Wellington you bet I have been through the doors of the worlds finest breweries.
   Let me know if I have missed any and I will add them to my list! </p>

  <p>Here are a couple of links to my favourite breweries so far!:</p>

  <ul>
    <li><a href="https://www.heydaybeer.com/">Heyday Brewery in Wellington</a></li>
    <li><a href="https://moonwakebeer.com/">Moonwake Brewery in Leith</a></li>
  </ul>

  <p>Finally, here's an image of me in my regular habitat</p>


  <img src="/static/images/HavingaPint.jpeg" alt="Having a pint" class = "home-image">
  </body>
  <section> <a href="https://www.instagram.com/THE_CRAFTY_LEITHER/">@THE_CRAFTY_LEITHER on Instagram</a> 
  <p> Geez a Follow</p> </section>

  </html>
  {% endblock %}







  {#
  <label for="cities">Select a City:</label>
  <select name="cities_id" id="cities">
    {% for city in cities %}
    <option value="{{ cities.id }}">{{ city.name }}</option>
    {% endfor %}
  </select> #}

  {# cant figugre out how to get the frop down on the homw page to say " show me all the edinburgh breweries etc" #}