{% extends 'base.jinja'%}

{% block content %}
<h2> <b> <u> <em></em>Brewery Bucket List </em> </u> </b> </h2>
{% endblock %}







{# 
<label for="cities">Select a City:</label>
<select name="cities_id" id="cities">
    {% for city in cities %}
    <option value="{{ cities.id }}">{{ city.name }}</option>
    {% endfor %}
</select> #}  

{# cant figugre out how to get the frop down on the homw page to say " show me all the edinburgh breweries etc" #}