{% extends 'base.jinja'%}

{% block content %} 

<h2> <b> <u> <em></em>Brewery Bucket List </em> </u> </b> </h2>


 <body>
    <h1>Welcome to My Webpage!</h1>
    
    <p>Here's some text that you can customize to your liking:</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel magna sed tortor gravida laoreet. Quisque ullamcorper vestibulum mi eget tincidunt. Ut a nisl libero. Phasellus ac tellus a mauris sodales molestie. Nam sit amet mollis lorem. Etiam ornare mauris et ligula luctus, vel aliquet eros sagittis. Nullam commodo libero vel ultricies aliquam. Sed laoreet commodo semper.</p>
    
    <p>And here are a couple of links:</p>
    
    <ul>
      <li><a href="https://www.example.com">Example Website</a></li>
      <li><a href="https://www.google.com">Google</a></li>
    </ul>
    
    <p>Finally, here's an image:</p>
    
    <img src="https://picsum.photos/200/300" alt="Random Image">
    
  </body>
</html>
{% endblock %}







{# 
<label for="cities">Select a City:</label>
<select name="cities_id" id="cities">
    {% for city in cities %}
    <option value="{{ cities.id }}">{{ city.name }}</option>
    {% endfor %}
</select> #}  

{# cant figugre out how to get the frop down on the homw page to say " show me all the edinburgh breweries etc" #}