{# {% extends "base.jinja" %}
{% block content %}

  <div>
    <p>{{brewery.name}}</p>
    <hr>
    <p>{{brewery.city}}</p>
    <p>{{brewery.visited}}</p>
    <p><a href="/cities/{{brewery.id}}/brewery"></a></p>
  </div>
/cities/<id>/brewery' #}